{{/* Context should be of type ui.DrawingListData */}}

{{ range .DrawingList }}
  <div
    class="w-full grid grid-cols-[4fr_1fr] gap-small"
    id="drawing-list-{{ .ID }}"
  >
    <a
      hx-get="/app?drawing={{.ID}}"
      hx-target="body"
      class="btn btn-sm flex justify-start no-animation"
      hx-inidcator="closest span"
    >
      {{ if (index $.PresenceMap .ID) }}
        <Avatar-group data="{{(index $.PresenceMap .ID)}}" />
      {{ end }}
      
      {{ .Name }}
      
      <span class="htmx-indicator ml-5"></span>
    </a>

    <button
     hx-delete="/app?drawing-ID={{ .ID }}"
     hx-target="#drawing-list-{{ .ID }}"
     hx-confirm="Are you sure you want to delete drawing {{ .Name }}"
     class="btn btn-square"
    >
      <Svg name="trash" class="w-4 h-4 htmx-hide" />

      <span class="htmx-indicator ml-5"></span>
    </button>
  </div>
{{ else }}
  <p>Please add a drawing</p>
{{ end }}