<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Excalidraw:Local</title>

  <link rel="stylesheet" href="/public/css/styles.css">

  <script src="https://unpkg.com/react@18.2.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"></script>


  <script
  type="text/javascript"
  src="https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw.production.min.js"
></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script 
  src="https://unpkg.com/htmx.org@2.0.1" 
  integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" 
  crossorigin="anonymous"
></script>

<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>
{{/* Context is of type ui.IndexPageData */}}
<body 
  hx-boost="true"
  class="px-base lg:px-large h-screen
    grid md:grid-cols-[1fr_5fr] lg:grid-cols-[1fr_4fr]"
>
  <section 
    class="sidebar bg-gray-50 h-full"
  >
    <div
      x-data="{
        showForm: false
      }"
    >
      <button @click="showForm = true">
        New collection
      </button>

      <form
        class="flex flex-wrap gap-base"
        hx-post="/new-collection"
        hx-target="#select-collection"
        hx-swap="outerHTML"

        x-show="showForm"
        x-collapse
      >
        <input
          type="text"
          name="collection-name"
          id=""
          class="w-full"
          placeholder="Collection Name"
        >
      
        <button @click="showForm = false">Save</button>
        <button type="button" @click="showForm = false">Cancel</button>
      </form>
    </div>
    
    <div
      x-data="{
        showForm: false
      }"
    >
      <div class="flex">
        {{ template "home/select-collection" .CollectionsData }}
      
        <button @click="showForm = true">
          +
        </button>
      </div>
      
      <form
        class="flex flex-wrap gap-base"
        hx-post="/new-scene"
        hx-target="#scene-list"

        x-show="showForm"
        x-collapse
      >
        <input
          type="text"
          class="invisible h-0 block"
          name="collection-ID"
          value={{ .CollectionsData.ActiveCollection.ID }}
        >
        <input
          type="text"
          class="w-full"
          name="scene-name"
          placeholder="Scene Name"
          required
        >
        
        <button @click="showForm = false">Save</button>
        <button type="button" @click="showForm = false">Cancel</button>
      </form>
    </div>

    <div
      id="scene-list" 
      class="flex flex-col gap-small"
    >
      {{ template "home/scene-list" .SceneList }}
    </div>
  </section>
  <main>
    {{ if .ActiveScene.ID }}
      <p class="invisible h-0" id="scene-id"> {{.ActiveScene.ID}} </p>
      <p class="invisible h-0" id="initial-scene-data"> {{.ActiveScene.Data}} </p>

      <h2 class="text-large font-medium text-center">{{ .ActiveScene.Name }}</h2>
      <div id="app"></div>
    
    {{ else }}
      <p>Select a scene to start drawing</p>
    {{ end }}
  </main>

  <script type="text/babel" src="public/excalidraw/index.js"></script>
  <script type="text/babel" src="public/script.js"></script>
</body>
</html>