{{/* extends "base" */}}

{{/* Context has type ui.IndexPageData */}}

{{ block "head-scripts" .}}
  <script src="https://unpkg.com/react@18.2.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"></script>


  <script
    type="text/javascript"
    src="https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw.production.min.js"
  ></script>

  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
{{ end }}

{{ block "body-class" . }}
  h-screen grid md:grid-cols-[1fr_5fr] lg:grid-cols-[1fr_4fr]
{{ end }}

{{ block "content" . }}
  {{ template "sidebar" . }}

  <main class="h-screen">
    {{ if .ActiveDrawing.ID }}
      <p class="hidden" id="drawing-id"> {{.ActiveDrawing.ID}} </p>
      <p class="hidden" id="initial-drawing-data"> {{.ActiveDrawing.Data}} </p>
      <p class="hidden" id="active-collection-id"> {{.ActiveDrawing.Collection}} </p>
      <p class="hidden transition-opacity" id="is-editing"> {{.Editing}} </p>

      <div class="py-small flex justify-center items-center gap-small">
        <h2 class="text-large font-medium text-center">{{ .ActiveDrawing.Name }}</h2>

        {{ if not .Editing }}
          <a 
            href="/app?drawing={{.ActiveDrawing.ID}}&edit=true"
            class=""
            title="Edit drawing {{ .ActiveDrawing.Name }}"
          >
              <Svg name="pencil" class="w-4 h-4 htmx-hide" />

              <span class="htmx-indicator"></span>
          </a>
        {{ end }}
      </div>

      <p id="toast" class="hidden bg-gray-50 rounded p-base py-large w-fit mx-auto my-base">
        {{ .Toast }}
      </p>

      <div id="app" class="border border-gray-100 rounded"></div>
    
    {{ else }}
      <p>Select a drawing from the sidebar</p>
    {{ end }}
  </main>

  <div id="modal-area" class="-z-10"></div>

  <script type="module" src="public/stimulus/index.js"></script>
  <script type="text/babel" src="public/excalidraw/index.js"></script>
  <script type="text/babel" src="public/script.js"></script>
{{ end }}

{{ define "sidebar" }}
  <section 
    class="bg-gray-50 h-screen p-base overflow-auto"
  >
    <div
      data-controller="toggleVisibility"
      class="my-large"
    >
        <button
          id="create-collection-btn"
          class="btn btn-primary w-full"
          data-action="toggleVisibility#showContent"
        >
          Create collection

          <span class="htmx-indicator ml-5"></span>
        </button>

        <form
          class="mt-base flex flex-wrap gap-base"
          hx-post="/app/create-collection"
          hx-target="#select-collection"
          hx-swap="outerHTML"
          hx-indicator="#create-collection-btn"

          data-toggleVisibility-target="content"
        >
          <input
            type="text"
            name="collection-name"
            id=""
            class="w-full"
            placeholder="Collection Name"
          >
        
          <button 
            data-action="toggleVisibility#hideContent"
            class="btn btn-primary"
          >
            Save
          </button>
          
          <button 
            type="button"
            class="btn" 
            data-action="toggleVisibility#hideContent"
          >
            Cancel
          </button>
        </form>
    </div>

    <div class="flex flex-col mb-large">
      <label class="text-small text-secondary-400 font-medium" for="">Current Collection</label>
      {{ template "home/select-collection" .CollectionsData }}        
    </div>
    
    <div
      data-controller="toggleVisibility"
      class="mb-large"
    >
      <button 
        data-action="toggleVisibility#showContent"
        title="Create drawing"
        class="btn btn-primary w-full"
        id="create-drawing-btn"
      >
        Create drawing
        
        <span class="htmx-indicator ml-5"></span>
      </button>

      <form
        class="flex flex-wrap gap-base mt-base"
        hx-post="/app/new-drawing"
        hx-target="#drawing-list"
        hx-indicator="#create-drawing-btn"
       
        data-toggleVisibility-target="content"     
      >
        <input
          type="hidden"
          class=""
          name="collection-ID"
          value={{ .CollectionsData.ActiveCollection.ID }}
        >
        
        <input
          type="text"
          class="w-full"
          name="drawing-name"
          placeholder="Drawing Name"
          required
        >
        
        <button 
          class="btn btn-primary"
        >
          Save

          <span class="htmx-indicator ml-5"></span>
        </button>

        <button 
          type="button"
          class="btn" 
          data-action="toggleVisibility#hideContent"
        >
          Cancel
        </button>
      </form>
    </div>

    <div
      hx-get="/app/presence-update?collection-id={{ .CollectionsData.ActiveCollection.ID }}"
      hx-trigger="every 5s"
      hx-swap="innerHTML"
      hx-target="#drawing-list"
    ></div>
    <div
      id="drawing-list" 
      class="flex flex-col gap-base"
    >
      {{ template "home/drawing-list" .DrawingListData }}
    </div>
  </section>
{{ end }}