<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Excalidraw:Local</title>

  <link rel="stylesheet" href="/public/css/styles.css">

  <script src="https://unpkg.com/react@18.2.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"></script>


  <script
  type="text/javascript"
  src="https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw.production.min.js"
></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

<script 
  src="https://unpkg.com/htmx.org@2.0.1" 
  integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" 
  crossorigin="anonymous"
></script>

<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

</head>
{{/* Context is of type ui.IndexPageData */}}
<body 
  class="h-screen
    grid md:grid-cols-[1fr_5fr] lg:grid-cols-[1fr_4fr]"
  
  hx-boost="true"

  x-data="{
    showConfirmModal: false,
    confirmText: '',
    confirmButonLabel: '',
  }"
>
  <section 
    class="sidebar bg-gray-50 h-screen p-base"
  >
    <div
      x-data="{
        showForm: false
      }"
      id="new-collection-container"
      class="mb-base"
    >
      <button 
        @click="showForm = true"
        class="w-full"
      >
        New collection
      </button>

      <form
        class="mt-base flex flex-wrap gap-base"
        hx-post="/new-collection"
        hx-target="#select-collection"
        hx-swap="outerHTML"

        x-show="showForm"
        x-collapse
      >
        <input
          type="text"
          name="collection-name"
          id=""
          class="w-full"
          placeholder="Collection Name"
        >
      
        <button @click="showForm = false">Save</button>
        <button type="button" @click="showForm = false">Cancel</button>
      </form>
    </div>
    
    <div
      x-data="{
        showForm: false
      }"
      class="mb-small"
    >
      <div class="flex justify-between gap-base">
        {{ template "home/select-collection" .CollectionsData }}
      
        <button @click="showForm = true">
          +
        </button>
      </div>
      
      <form
        class="flex flex-wrap gap-base mt-base"
        hx-post="/new-drawing"
        hx-target="#drawing-list"

        x-show="showForm"
        x-collapse
      >
        <input
          type="hidden"
          class=""
          name="collection-ID"
          value={{ .CollectionsData.ActiveCollection.ID }}
        >
        <input
          type="text"
          class="w-full"
          name="drawing-name"
          placeholder="Drawing Name"
          required
        >
        
        <button @click="showForm = false">Save</button>
        <button type="button" @click="showForm = false">Cancel</button>
      </form>
    </div>

    <div
      id="drawing-list" 
      class="flex flex-col gap-small"
    >
      {{ template "home/drawing-list" .DrawingList }}
    </div>
  </section>
  <main class="h-screen">
    {{ if .ActiveDrawing.ID }}
      <p class="hidden" id="drawing-id"> {{.ActiveDrawing.ID}} </p>
      <p class="hidden" id="initial-drawing-data"> {{.ActiveDrawing.Data}} </p>
      <p class="hidden" id="active-collection-id"> {{.ActiveDrawing.Collection}} </p>


      <h2 class="text-large font-medium text-center">{{ .ActiveDrawing.Name }}</h2>
      <div id="app"></div>
    
    {{ else }}
      <p>Select a drawing to start drawing</p>
    {{ end }}
  </main>

  <div id="modal-area" class="-z-10">
    {{/* template "home/confirm-delete-modal" . */}}
  </div>
  <script type="text/babel" src="public/excalidraw/index.js"></script>
  <script type="text/babel" src="public/script.js"></script>
</body>
</html>