{{/* Context should be ui.CollectionsData */}}

<select 
  name="select-collection" 
  id="select-collection"
  hx-get="/app"
  hx-target="body"
  class="select select-bordered h-auto min-h-0 py-small leading-tight"
>
  {{ range .CollectionsList }}
    <option 
      value="{{.ID}}"
      {{ if eq .ID $.ActiveCollection.ID }}
        selected
      {{ end }}
      id="collection-opt={{.ID}}"
    >
      {{ .Name }}
    </option>
  {{ end }}
</select>