{{/* extends "auth-base" */}}

{{/* Context should be of type ui.AuthPageData */}}

{{ block "headerText" .}}
  Log In
{{ end }}

{{ block "subHeaderText" .}}
  Welcome back, you've been missed!
{{ end }}

{{ block "content" . }}
  <div class="mt-huge">
    {{ if .Error }}
      <p
        class="bg-red-50 rounded-md py-large my-base text-red-900 text-center"
      >
        {{ .Error }}
      </p>
    {{ end }}
    <form
      action="/login"
      method="POST"
      class="w-full flex flex-col gap-base mx-auto"
    >
      <Field
        type="email"
        name="email"
        label="Email"
        placeholder="Enter your email"
        required="true"
      />

      <Field
        type="password"
        name="password"
        label="Password"
        placeholder="Enter a password"
        required="true"
      />

      <button
        class="block mt-vLarge text-large btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
{{ end }}
