{{/* extends "auth-base" */}}

{{ block "content" . }}
  <h1 
    class="text-large text-center my-large"
  >
    Login to App
  </h1>

  {{ if .Error }}
    <p class="text-red-900">
      {{ .Error }}
    </p>
  {{ end }}

  <form 
    action="/login"
    method="POST"
    class="flex flex-col gap-base w-fit mx-auto"
  >
    <input 
      type="email" 
      name="email"
      placeholder="Enter email..." 
      required
    >

    <input 
      type="password" 
      name="password"
      placeholder="Enter password..." 
      required
    >

    <button>
      Submit
    </button>
  </form>
{{ end }}
