{{/* extends "auth-base" */}}

{{/* Context should be of type ui.AuthPageData */}}

{{ block "headerText" .}}
  Register
{{ end }}

{{ block "subHeaderText" .}}
  Fill in your details to get started
{{ end }}

{{ block "content" . }}
  <div class="mt-vLarge">
    {{ if .Error }}
      <p
        class="bg-red-50 rounded-md py-large my-base text-red-900 text-center"
      >
        {{ .Error }}
      </p>
    {{ end }}

    <form
      action="/register"
      method="POST"
      class="w-full flex flex-col gap-base mx-auto"
    >
      <Field
        type="text"
        name="first-name"
        label="First Name"
        placeholder="Enter your first name"
        required="true"
      />

      <Field
        type="text"
        name="last-name"
        label="Last Name"
        placeholder="Enter your last name"
        required="true"
      />

      <Field
        type="email"
        name="email"
        label="Email"
        placeholder="Enter your email"
        required="true"
      />

      <Field
        type="password"
        name="password"
        label="Password"
        placeholder="Enter a password"
        required="true"
      />

      <Field
        type="password"
        name="confirm-password"
        label="Confirm password"
        placeholder="Confirm your password"
        required="true"
      />

      <button 
        class="block mt-vLarge text-large py-small"
      >
        Submit
      </button>
    </form>
  </div>
{{ end }}
