@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-base: 1rem;
  --fontSize-base: 1rem;
}

body {
  font-size: 14px;
}

@media only screen and (min-width: 700px) {
  body {
    font-size: 16px;
  }
}

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}

@layer components {
  .btn {
    @apply py-small h-auto min-h-0;
  }

  .btn-primary {
    @apply text-white;
  }

  input {
    @apply px-base py-small border border-black rounded-md placeholder:text-gray-600;
  }

  .modal-container {
    @apply bg-black bg-black/50 z-10 absolute top-0 w-screen h-screen;
  }

  .htmx-indicator {
    @apply hidden loading loading-spinner;
  }

  .htmx-request .htmx-indicator {
    @apply block;
  }

  .htmx-request .htmx-hide {
    display: none;
  }
}

@layer utilities {
  .flex-center {
    @apply justify-center items-center;
  }
}
